@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

.calculator {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 1.6rem;
    margin: 1.6rem 0;
}


.equals {
    font-weight: bold;
    font-size: 2rem;
}

.currencies-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}

